catboost==1.2.3
fedot==0.7.3.1
hydra-core==1.3.2
matplotlib==3.8.4
networkx==3.3
numpy==1.24.4
omegaconf==2.3.0
openai==1.16.2
openml==0.14.2
pandas==1.5.3
pandera==0.18.3
pyperclip==1.8.2
scikit_learn==1.2.2
